.searchname {
    padding: 8px 10px;
    width: 215px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
}
.searchname:hover,
.searchname:focus {
    border-color: white;
    background-color: gray;
}
.paragraf {
    font-size: 16px;
}