.form {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 6px;
    margin-top: 30px;    
    border-radius: 15px;
    border: 1px solid gray;
    width: 450px;
}
.label {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
    justify-content: center;
    text-align: left;
}
.input {
    width: 360px;
    padding: 15px 10px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 10px;
    font-size: 16px;
    color:beige;
}
.input:hover,
.input:focus {
    border: gray;
    background-color: rgb(30, 30, 30);
    color: white;
}
.button {
    width: 180px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.button:hover,
.button:focus {
    background-color: gray;
    color: black;
    border: 1px solid white;
}
.title {
    font-size: 24px;
}